.mainBar {

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;

}

html {
    background: url(/asset/image/welcomepicture.jpg) no-repeat fixed top center;
}



.backgroundFooter {

    position: absolute;
    bottom: -40px;
    color: white;
    text-align: center;
    width: 100%;

}

/*@media only screen and (max-width: 640px){*/
/*.contactDiv {*/
/*        background-color: white;*/
/*    }*/
/*}*/

.contactDiv {
    padding: 20px 0px 20px 0px;
    list-style-position: outside;
    list-style-type: none;
    letter-spacing: 0.2em;;
    background-color: #000000;
}


.leJumbotron {
    text-align: center;
    background-color: black;
    color: white;
}

.tableView {
    width: 80%;
    margin: auto;

}

.loginButton {
    margin-top: 10px;
    margin-left: 10px;
}

.formValidationModalClass {

    text-align: center;
}