<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<h:body>


        <ui:insert name="Layout" >
            <ui:include src="../template/common/commonLayout.xhtml" />
        </ui:insert>
</h:body>
</html>