<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui">

<h:head>
    <link rel="stylesheet" href="../asset/css/laraquette.css"/>
</h:head>

<h:body>

<div>
    <ui:insert name="Layout" >
        <ui:include src="../template/usermanagement/tableLayout.xhtml" />
    </ui:insert>
</div>

</h:body>

</html>