<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jstl/core">
<body>
<ui:composition>

    <b:container>

        <b:jumbotron styleClass="leJumbotron">
            <h1>La Raquette Management</h1>
            <p>Gestion des utilisateurs</p>
        </b:jumbotron>
    </b:container>
    <div class="tableData">


        <b:modal title="Modification" styleClass="formValidationModalClass"
                 closable="false"
                 closeOnEscape="true"
                 id="amodal">
            <b:form responsive="true"
                    auto-update="true">
                <c:if test="#{not empty personneBean.selectedPersonne}">
                    <b:inputText value="#{personneBean.selectedPersonne}" required="true" requiredMessage="nouvelle personne" large-screen="two-thirds" readonly="true">
                        <f:facet name="prepend"> Modification de : </f:facet>
                    </b:inputText>
                    <b:inputText value="#{personneBean.selectedPersonne.nom}" required="true" requiredMessage="Entrez un nouveau nom" large-screen="two-thirds" id="newNom">
                        <f:facet name="prepend"> Nom </f:facet>
                    </b:inputText>
                    <b:inputText value="#{personneBean.selectedPersonne.prenom}" required="true" requiredMessage="Entrez un nouveau prenom" large-screen="two-thirds" id="newPrenom">
                        <f:facet name="prepend"> Prenom </f:facet>
                    </b:inputText>
                    <b:dateTimePicker  id="newDate"
                                       value="#{personneBean.selectedDate}"
                                       format="YYYY-MM-DD"
                                       icon-position="right"
                                       mode="popup"
                                       show-date="true"
                                       show-time="false"
                                       show-icon="true"
                                       use-current="true">
                        <f:facet name="prepend"> Date de naissance </f:facet>
                    </b:dateTimePicker>
                    <br></br>
                    <b:inputText value="#{personneBean.selectedPersonne.sexe}"  id="newSexe">
                    <f:facet name="prepend"> Sexe </f:facet>
                    </b:inputText>
                    <b:inputText value="#{personneBean.selectedPersonne.profession}" required="true" requiredMessage="Entrez une nouvelle profession"  id="newProfession">
                        <f:facet name="prepend"> Profession </f:facet>
                    </b:inputText>
                    <hr/>


                    <b:selectOneMenu value="#{personneBean.selectedPersonne.adressePostale.ville.pays}" required="true"  id="newPays"
                                     large-screen="full-width">

                        <c:forEach items="${ personneBean.paysList }" var="lePays" varStatus="status">
                            <c:if test="#{lePays.nomPays.equals(personneBean.selectedPersonne.adressePostale.ville.pays.nomPays)}">
                                <f:selectItem itemLabel="#{lePays.nomPays}" itemValue="#{lePays}" />
                            </c:if>
                        </c:forEach>
                        <c:forEach items="${ personneBean.paysList }" var="lePays" varStatus="status">
                            <c:if test="#{!lePays.nomPays.equals(personneBean.selectedPersonne.adressePostale.ville.pays.nomPays)}">
                                <f:selectItem itemLabel="#{lePays.nomPays}" itemValue="#{lePays}" />
                            </c:if>
                        </c:forEach>
                        <f:ajax listener="#{personneBean.onChangeVille}" render="newVille"/>
                        <f:facet name="prepend"> Pays: </f:facet>
                    </b:selectOneMenu>

                    <b:selectOneMenu value="#{personneBean.selectedPersonne.adressePostale.ville}" required="true"  id="newVille"
                                     large-screen="full-width">
                        <c:forEach items="${ personneBean.villeList }" var="laVille" varStatus="status">
                            <c:if test="#{laVille.nomVille.equals(personneBean.selectedPersonne.adressePostale.ville.nomVille)}">
                                <f:selectItem itemLabel="#{laVille.nomVille}" itemValue="#{laVille}" />
                            </c:if>
                        </c:forEach>
                        <c:forEach items="${ personneBean.villeList }" var="laVille" varStatus="status">
                            <c:if test="#{!laVille.nomVille.equals(personneBean.selectedPersonne.adressePostale.ville.nomVille)}">
                                <f:selectItem itemLabel="#{laVille.nomVille}" itemValue="#{laVille}" />
                            </c:if>
                        </c:forEach>
                        <f:facet name="prepend"> Ville: </f:facet>
                    </b:selectOneMenu>

                    <b:selectOneMenu value="#{personneBean.selectedPersonne.adressePostale.typeDeVoie}" required="true"  id="newVoieType"
                                     large-screen="full-width">
                        <c:forEach items="${ personneBean.typeDeVoieList }" var="leType" varStatus="status">
                            <c:if test="#{leType.nomTypeDeVoie.equals(personneBean.selectedPersonne.adressePostale.typeDeVoie.nomTypeDeVoie)}">
                                <f:selectItem itemLabel="#{leType.nomTypeDeVoie}" itemValue="#{leType}" />
                            </c:if>
                        </c:forEach>
                        <c:forEach items="${ personneBean.typeDeVoieList }" var="leType" varStatus="status">
                            <c:if test="#{!leType.nomTypeDeVoie.equals(personneBean.selectedPersonne.adressePostale.typeDeVoie.nomTypeDeVoie)}">
                                <f:selectItem itemLabel="#{leType.nomTypeDeVoie}" itemValue="#{leType}" />
                            </c:if>
                        </c:forEach>
                        <f:facet name="prepend"> Type de voie: </f:facet>
                    </b:selectOneMenu>



                    <b:inputText value="#{personneBean.selectedPersonne.adressePostale.numeroRue}" required="true" requiredMessage="numero" large-screen="half"  id="newNumRue">
                        <f:facet name="prepend"> numero dans la rue: </f:facet>
                    </b:inputText>
                    <b:inputText value="#{personneBean.selectedPersonne.adressePostale.complement}" requiredMessage="complement" large-screen="half"  id="newComplement">
                        <f:facet name="prepend"> complement dans la rue: </f:facet>
                    </b:inputText>
                    <b:inputText value="#{personneBean.selectedPersonne.adressePostale.nomVoie}" required="true" requiredMessage="nom de voie" large-screen="half"  id="newNomVoie">
                        <f:facet name="prepend"> nom de la rue: </f:facet>
                    </b:inputText>
                    <b:inputText value="#{personneBean.selectedPersonne.adressePostale.codePostal}" required="true" requiredMessage="code postal" large-screen="half"  id="newCP">
                        <f:facet name="prepend"> code postale: </f:facet>
                    </b:inputText>
                    <b:row>
                        <b:column>
                            <b:commandButton largeScreen="half"  value="Annuler"
                                      dismiss="modal" onclick="return false;window.location.reload(true); "/>
                            <b:commandButton largeScreen="half" update="@form"
                                                dismiss="modal"
                                                value="Enregistrer" look="warning"
                                                action="alert('1');
                            ajax:personneBean.getSelectedPersonne().setNom(personneBean.selectedPersonne.nom);
                            ajax:personneBean.getSelectedPersonne().setPrenom(personneBean.selectedPersonne.prenom);
                            ajax:personneBean.getSelectedPersonne().setDateDeNaissance(personneBean.selectedDate);
                            ajax:personneBean.getSelectedPersonne().setSexe(personneBean.selectedPersonne.sexe);
                            ajax:personneBean.getSelectedPersonne().setProfession(personneBean.selectedPersonne.profession);
                            ajax:personneBean.getSelectedPersonne().getAdressePostale().setVille(personneBean.selectedPersonne.adressePostale.ville);
                            ajax:personneBean.getSelectedPersonne().getAdressePostale().setTypeDeVoie(personneBean.selectedPersonne.adressePostale.typeDeVoie);
                            ajax:personneBean.getSelectedPersonne().getAdressePostale().setNumeroRue(personneBean.selectedPersonne.adressePostale.numeroRue);
                            ajax:personneBean.getSelectedPersonne().getAdressePostale().setComplement(personneBean.selectedPersonne.adressePostale.complement);
                            ajax:personneBean.getSelectedPersonne().getAdressePostale().setNomVoie(personneBean.selectedPersonne.adressePostale.nomVoie);
                            ajax:personneBean.getSelectedPersonne().getAdressePostale().setCodePostal(personneBean.selectedPersonne.adressePostale.codePostal);

                            ajax:personneBean.updatePersonne();
                            window.location.reload(true);"
                                                />
                        </b:column>
                    </b:row>
                </c:if>
            </b:form>
        </b:modal>

        <h:form styleClass="tableView">
            <b:dataTable value="#{personneBean.personneList}" var="personne" responsive="true"
                         selectionMode="single"
                         onselect="ajax:personneBean.onSelect(personne);"
                         select="true"
                         searching="true" multiColumnSearch="true"
                         multiColumnSearchPosition="top">
                <b:dataTableColumn value="#{personne.nom}" label="Nom"/>
                <b:dataTableColumn value="#{personne.prenom}" label="Prénom"/>
                <b:dataTableColumn value="#{personne.dateDeNaissance}" label="Date de naissance"/>
                <b:dataTableColumn value="#{personne.sexe}" label="Sexe"/>
                <b:dataTableColumn value="#{personne.profession}" label="Profession"/>
                <b:dataTableColumn value="#{personne.adressePostale}" label="Adresse"/>
                <b:dataTableColumn label="Modifier">
                    <b:button value="" icon="pencil" look="warning" update="@modalnom"
                              onclick="$('.formValidationModalClass').modal()" size="lg"/>
                </b:dataTableColumn>
            </b:dataTable>
        </h:form>
    </div>


</ui:composition>
</body>
</html>


