<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
>
<body>
<ui:composition>

    <div class="mainBar">
        <b:navBar brand="La Raquette" brandHref="index.xhtml" sticky="false">
            <b:navbarLinks>
                <b:navLink value="Accueil" href="index.xhtml" iconAwesome="home"></b:navLink>
                <b:navLink value="À propos" href="#about"></b:navLink>
                <b:navLink value="Contact" href="#contact"></b:navLink>
                <b:dropMenu value="Options">
                    <b:navLink value="Gestion des utilisateurs" href="tableau.xhtml"></b:navLink>

                </b:dropMenu>
            </b:navbarLinks>
            <b:navbarLinks pull="right">
                <b:button look="warning" value="Se connecter" size="sm" styleClass="loginButton"
                          onclick="$('.formValidationModalClass').modal('show')"></b:button>
                <div>
                <b:modal title="Connexion"
                         styleClass="formValidationModalClass"
                         closable="false"
                         closeOnEscape="true">
                    <br></br>

                <b:form>
                    <b:container layout="fluid">
                            <b:row>
                                <b:column medium-screen="1">
                                </b:column>
                                <b:column medium-screen="4">
                                    <b:inputText placeholder="Identifiant" id="username" value=""
                                                 ajax="true" autocomplete="false" update="@(.message)" tooltip="Entrez votre identifiant." >
                                        <f:facet name="prepend">
                                            <b:iconAwesome name="user" />
                                        </f:facet>
                                    </b:inputText>
                                </b:column>
                                <b:column medium-screen="4" style-class="message">
                                    <b:message for="username" />
                                </b:column>
                            </b:row>
                            <b:row>
                                <b:column medium-screen="1">
                                </b:column>
                                <b:column medium-screen="4">
                                    <b:inputSecret placeholder="Mot de passe" id="password" value=""
                                                   ajax="true" autocomplete="false" update="@(.message)"  tooltip="Entrez votre mot de passe.">
                                        <f:facet name="prepend">
                                            <b:iconAwesome name="lock" />
                                        </f:facet>
                                    </b:inputSecret>
                                </b:column>
                                <b:column medium-screen="4" styleClass="message">
                                    <b:message for="password"/>
                                </b:column>
                            </b:row>
                    </b:container>
                    <b:selectBooleanCheckbox value="" caption="Se souvenir"/>
                    <b:row>
                        <b:column>
                            <b:commandButton colLg="6" update="@form"
                                             dismiss="modal"
                                             value="Se connecter" look="warning"
                                             oncomplete="if(!validationFailed) { $('.formValidationModalClass').modal('hide') }" size ="lg" offsetLg="3"/>
                        </b:column>
                    </b:row>
            <br></br>
                    <b:link style-class="some-class" onclick="alert('clicked!'); return false;" value="Mot de passe oublié ?" />

                    <b:fetchBeanInfos />
                    <b:messages />
                </b:form>
                </b:modal>
    </div>
            </b:navbarLinks>
        </b:navBar>
    </div>

</ui:composition>
</body>
</html>


