<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:h="http://java.sun.com/jsf/html">
    <body>
	    <ui:composition>


			<div class ="backgroundFooter">


					<ul class="contactDiv">
						<li><strong>- Coordonnées -</strong></li>
						<li>LA RAQUETTE DE VILLENEUVE D’ASCQ</li>
						<li>Métropole Européenne de Lille</li>

						<li>Stade Jean Jacques – Carrière Delporte</li>
						<li>Rue du 8 mai 1945</li>
						<li>59650 Villeneuve d’Ascq</li>

					</ul>

					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
						Copyright ©
			2019
						All rights reserved | Huynh Anh-Khoa &#38; Verstaevel-Magnier Mathias-Auguste
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					</p>




			</div>

	    </ui:composition>
    </body>
</html>