<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://java.sun.com/jsf/core"
>
<body>
<ui:composition>

    <div class="mainBar">
        <b:navBar brand="La Raquette" brandHref="index.xhtml" sticky="false">
            <b:navbarLinks>
                <b:navLink value="Accueil" href="index.xhtml" iconAwesome="home"></b:navLink>
                <b:navLink value="À propos" href="#about"></b:navLink>
                <b:navLink value="Contact" href="#contact"></b:navLink>
                <b:dropMenu value="Options">
                    <b:navLink value="Gestion des utilisateurs" href="tableau.xhtml"></b:navLink>

                </b:dropMenu>
            </b:navbarLinks>
        </b:navBar>
    </div>

</ui:composition>
</body>
</html>


